/* UNIVERSAL CONTENT */
body {
  background-color: #666;
}
header {
  max-width: 850px;
  background-color: #000;
  max-height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0 auto;
}
.content {
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 100px;
  background-color: #fff;
  padding: 25px;
}

.btn-oks {
  background-color: #cc0033;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 auto;
}
.btn-oks:hover {
  background-color: #000;
  color: #fff;
}

/* NAVBAR CUSTOMIZATION */
.bg-oks {
  background-color: #000;
  color: #fff;
}
.bg-oks a {
  color: #fff;
}
.brand-oks {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 48px;
  letter-spacing: 1px;
}
.brand-oks a {
  color: #fff;
}
.links-oks {
  font-family: 'Montserrat', sans-serif;
}
.links-oks a:hover {
  background-color: #cc0033;
  color: #fff;
}
.dropdown-oks {
  background-color: #000;
  color: #fff;
}
.dropdown-oks a:hover {
  background-color: #cc0033;
  color: #fff;
}

/* FOOTER CUSTOMIZATION */
.footer-oks {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

/* CARDS CUSTOMIZATION */
.card-title-oks {
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  color: #cc0033;
  font-weight: bold;
  letter-spacing: 1px;
}
.card-text-oks {
  text-align: justify;
}
.card-img-oks {
  max-width: 100%;
  max-height: 150px;
  object-fit: cover;
  margin: 0;
}

/* CAROUSEL */
#oks-carousel {
  margin: 0 auto;
  max-width: 850px;
  max-height: 400px;
  object-fit: cover;
}

/* INDEX PAGE CUSTOMIZATION */
.oks-mission {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  color: #cc0033;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 1px 1px #666;
}
.oks-mission-text {
  text-align: justify;
  max-width: 90%;
  margin: 0 auto;
}
.oks-trial {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  color: #cc0033;
  font-weight: bold;
  letter-spacing: 1px;
}

/* CLASS PAGE CUSTOMIZATION */
.class-img {

}
