/* UNIVERSAL CONTENT */
body {
  background-color: #666;
}
header {
  max-width: 850px;
  background-color: #000;
  max-height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0 auto;
}
.content {
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-color: #fff;
  padding: 25px;
  /* padding-bottom: 100px; */
}

.btn-oks {
  background-color: #cc0033;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 auto;
}
.btn-oks:hover {
  background-color: #000;
  color: #fff;
}

/* NAVBAR CUSTOMIZATION */
.bg-oks {
  background-color: #000;
  color: #fff;
}
.bg-oks a {
  color: #fff;
}
.brand-oks {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 48px;
  letter-spacing: 1px;
}
.brand-oks a {
  color: #fff;
}
.links-oks {
  font-family: 'Montserrat', sans-serif;
}
.links-oks a:hover {
  background-color: #cc0033;
  color: #fff;
}
.dropdown-oks {
  background-color: #000;
  color: #fff;
}
.dropdown-oks a:hover {
  background-color: #cc0033;
  color: #fff;
}
.oks-toggle {
  color: #fff;
  font-size: 24px;
}

/* FOOTER CUSTOMIZATION */
.footer-oks {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

/* CARDS CUSTOMIZATION */
.card-title-oks {
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  color: #cc0033;
  font-weight: bold;
  letter-spacing: 1px;
}
.card-text-oks {
  text-align: justify;
}
.card-img-oks {
  max-width: 100%;
  max-height: 150px;
  object-fit: cover;
  margin: 0;
}

/* CAROUSEL */
#oks-carousel {
  margin: 0 auto;
  max-width: 850px;
  max-height: 400px;
  object-fit: cover;
}

/* TEXT STYLINGS */
.oks-title {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  color: #cc0033;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 1px 1px #666;
}
.oks-body {
  text-align: justify;
  max-width: 90%;
  margin: 0 auto;
}
.oks-body b {
  color: #cc0033;
}
.oks-body a {
  color: #cc0033;
  font-weight: bold;
  text-decoration: none;
}
.oks-attn {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  color: #cc0033;
  font-weight: bold;
  letter-spacing: 1px;
}
.oks-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  color: #cc0033;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height:90%;
}
.oks-contact {
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  color: #cc0033;
  font-weight: bold;
  letter-spacing: 1px;
}

/* PAGE STYLINGS */
.oks-img {
  max-width: 800px;
  margin: 0 auto;
}

/* MAP STYLING */
.mapouter {
  text-align:right;
  max-height:300px;
  max-width:850px;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  max-height:300px;
  max-width:850px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1325px) {
  .brand-oks {
    font-size: 36px;
  }
  .links-oks {
    font-size: 14px;
  }
  .brand-img-oks {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 500px) {
  .brand-img-oks {
    display: none;
  }
}
