body {
  background-color: #666;
}
header {
  max-width: 850px;
  background-color: #000;
  max-height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0 auto;
}

.content {
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 100px;
  background-color: #fff;
  padding: 25px;
}

.oks-header-text {
  align-self: flex-start;
  order: 1;
  flex-grow: 2;
}

.oks-title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}
.oks-subtitle {
  color: #fff;
  text-align: center;
  font-size: 18px;
}
.oks-logo {
  height: 100px;
  width: 100px;
  align-self: flex-end;
  order: 2;
  margin-right: 50px;
}

#oks-carousel {
  margin: 0 auto;
  max-width: 850px;
  max-height: 400px;
}

.oks-welcome {
  /* TODO: WRITE CODE HERE */
}

.oks-mission {
  /* TODO: WRITE CODE HERE */
}
.oks-mission-text {
  /* TODO: WRITE CODE HERE */
}
.oks-trial {
  /* TODO: WRITE CODE HERE */
}
